@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-cream: 236 234 229;
        --color-black: 5 7 9;
    }
    html, body {
        font-family: "Noto Serif Display", serif;
        scroll-behavior: smooth;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
    }

    .oval-decoration::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        border-style: solid;
        border-width: 1px;
        border-color: currentColor;
        transform: skewX(-45deg);
        transform-origin: center;
        z-index: -1;
        aspect-ratio: 1/1;
    }
    .logo.oval-decoration::before{
        transform: skewX(-45deg) translateY(-40%) translateX(-13%);
    }
    .home-content.oval-decoration::before{
        transform: skewX(-51deg) translateY(-40%) translateX(-50%) scale(0.4);
        width: 100%;
        height: auto;
        border-width: 2px;
    }
    
    @media(prefers-color-scheme: dark) {
        .clip-text-reveal {
            background: linear-gradient(to right, theme(colors.cream) 50%, theme(colors.gray.800) 50%);
            background-size: 200% 100%;
            background-position-x: 100%;
            @apply text-transparent bg-clip-text;
        }
    }

    .dark .clip-text-reveal {
        background: linear-gradient(to right, theme(colors.cream) 50%, theme(colors.gray.800) 50%) default;
        background-size: 200% 100%;
        background-position-x: 100%;
        @apply text-transparent bg-clip-text;
    }
    .dark .fill-cream{
        fill: theme(colors.black);
    }
    .dark .fill-black{
        fill: theme(colors.cream);
    }
    .graph-line_wrapper svg g path {
        -webkit-filter: drop-shadow( 6px 12px 8px theme(colors.cream-70));
        filter: drop-shadow( 6px 12px 8px theme(colors.cream-70));
    }
    .dark .graph-line_wrapper svg g path {
        -webkit-filter: drop-shadow( 6px 12px 8px theme(colors.black-70));
        filter: drop-shadow( 6px 12px 8px theme(colors.black-70));
    }
    .changing-border{
        @apply border border-black dark:border-cream;
    }
}

@layer components {
    .btn-radio {
        @apply aspect-square rounded-full bg-black dark:bg-cream text-cream dark:text-black p-4 capitalize font-semibold h-full text-xl md:text-sm;
    }
    .btn-radio--outline{
        @apply btn-radio bg-cream dark:bg-black text-black dark:text-cream changing-border;
    }
}

@layer utilities {
    .writing-lr{
        writing-mode: vertical-lr;
    }
    .writing-rl{
        writing-mode: vertical-rl;
    }
    .orientation-mixed {
      text-orientation: mixed;
    }
    .perspective-screen{
        perspective: 100vw;
    }
    .font-heading-2{
        @apply text-[clamp(24px,4vw,60px)] font-light mb-3;
    }
    .grid-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
